body{
    padding-left: 20px;
    padding-right: 20px;
    
}
table,td,th{
    text-align:left;
    padding: 10px;
}
img{
    border-radius: 15px;
}

a{
    text-decoration: none;
}
.education{
    margin-left: 15%;
    margin-right: 15%;
}
